<div class="sub-view-container" [formGroup]="entityForm">
    <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Category</mat-label>
        <mat-select [formControl]="categoryFormControl">
            <input class="subcategory-search-bar" (keyup)="filterCategories($event)" placeholder="Search" #input>
            <mat-error *ngIf="categoryFormControl.invalid">{{getCategoryErrorMessage()}}</mat-error>
        <mat-option *ngFor="let category of filteredCategoryList" [value]="category.name">{{category.name}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Products</mat-label>
        <mat-select [formControl]="productFormControl" multiple>
            <input class="subcategory-search-bar" (keyup)="filterProducts($event)" placeholder="Search" #input>
        <mat-option *ngFor="let product of filteredProductList" [value]="product">{{product.name || "No products"}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>