<div class="new-container" [formGroup]="productForm">
    <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" required>
        <mat-error *ngIf="name.invalid">{{getNameErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Price</mat-label>
        <input matInput type="number" formControlName="price" required>
        <span matTextPrefix>€&nbsp;</span>
        <mat-error *ngIf="price.invalid">{{getPriceErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Allergenics</mat-label>
        <mat-select [formControl]="allergenicFormControl" multiple>
          <mat-option *ngFor="let allergenic of allergenicList" [value]="allergenic">{{allergenic}}</mat-option>
        </mat-select>
    </mat-form-field>

    <div mat-dialog-actions>
        <button mat-button (click)="close()" color="accent">Close</button>
        <button mat-button (click)="saveChanges()" [disabled]="!productForm.valid" [mat-dialog-close]="data" color="primary">Add Product</button>
    </div>
</div>