<google-map width="60vw" height="60vh"></google-map>
<div class="contact-container">
    <div class="contact-item-container">
        <img class="contact-img" src="assets/icons/location.png"/>
        <div class="contact-item"
            [innerText]="addresText">
        </div>
    </div>
    <div class="contact-item-container">
        <img class="contact-img" src="assets/icons/incoming-call.png"/>
        <div class="contact-item"
            [innerText]="phoneText">
        </div>
    </div>
    <div class="contact-item-container">
        <img class="contact-img" src="assets/icons/open.png"/>
        <div class="contact-item"
            [innerText]="hoursText">
        </div>
    </div>
    <div class="contact-item-container">
        <img class="contact-img" src="assets/icons/email.png"/>
        <div class="contact-item"
            [innerText]="emailText">
        </div>
    </div>
</div>