<div class="contact-overview">
    <div id="contact-left-pannel">
        <google-map [center]="center">
            <map-marker
            *ngFor="let marker of markers"
            [position]="marker.position"
            [label]="marker.label"
            [title]="marker.title"
            [options]="marker.options"
            >
        </map-marker>
        </google-map>
        <img id="logo" src="assets/images/logo.jpeg">

    </div>
    <div class="contact-container">
        <div class="contact-item-container">
            <img class="contact-img" src="assets/icons/location.png"/>
            <div class="contact-item"
                [innerText]="addresText">
            </div>
        </div>
        <div class="contact-item-container">
            <img class="contact-img" src="assets/icons/incoming-call.png"/>
            <div class="contact-item"
                [innerText]="phoneText">
            </div>
        </div>
        <div class="contact-item-container">
            <img class="contact-img" src="assets/icons/open.png"/>
            <div class="contact-item"
                [innerText]="hoursText">
            </div>
        </div>
        <div class="contact-item-container">
            <img class="contact-img" src="assets/icons/email.png"/>
            <div class="contact-item"
                [innerText]="emailText">
            </div>
        </div>
    </div>
</div>