<div class="home-container">
    <div class="home-page-welcome">
      <div class="content-header">
        <h1 class="content-title welcome-title">Een zee van ....</h1>
      </div>
      <div class="welcome-text-container">
        <div class="welcome-text" [innerText]="homeText"></div>
      </div>
    </div>

    <div id="suggestie-container">
      <div class="content-header">
        <h1 class="content-title suggestion-title">Suggesties</h1>
      </div>
        <div class="gallery">
          <div class="gallery-item-container">
            <div class="gallery-item">
              <img src="assets/images/vispannetje.jpeg" alt="Vispannetje" width="600" height="400">
              <div class="description">Vispannetje met frietjes</div>
            </div>
          </div>
            <div class="gallery-item-container">
            <div class="gallery-item">
              <img src="assets/images/slabarkentijn.jpg" alt="Sla Barkentijn" width="600" height="400">
              <div class="description">Salade Barkentijn</div>
            </div>
          </div>
            <div class="gallery-item-container">
            <div class="gallery-item">
              <img src="assets/images/duopasta.jpeg" alt="Duo Kip & Scampi met pasta" width="600" height="400">
              <div class="description">Duo van kip en scampi in rode curry met tagliatelle</div>
            </div>
          </div>
            <div class="gallery-item-container">
            <div class="gallery-item">
              <img src="assets/images/sangriar.jpeg" alt="Rode Sangria van Quint" width="600" height="400">
              <div class="description">Rode sangria met vers fruit</div>
            </div>
          </div>
            <div class="gallery-item-container">
            <div class="gallery-item">
              <img src="assets/images/warmgemengd.jpeg" alt="Warme hapjes gemengd" width="600" height="400">
              <div class="description">Mengeling van ons assortiment warme hapjes</div>
            </div>
          </div>
        </div>
      </div>
</div>