.home-container {
    margin: 4vh 5vw 4vh 5vw;
}

.home-page.welcome {
    padding: 2vh 1vw 2vh 1vw;
}

.welcome-title {
    text-align: center;
}

.welcome-text {

}

.suggestion-container {

}