<div id="dashboard-info-container">
    <h1 mat-dialog-title id="dashboard-info-title">{{data.name}}</h1>
    <div mat-dialog-content>
        <div id="dashboard-info-id" class="dashboard-info-section">
            <div id="dashboard-id-label" class="dashboard-info-label">
                ID:
            </div>
            <div id="dashboard-id-value" class="dashboard-info-value">
                {{data.id}}
            </div>
        </div>
        <div id="category-info-subcategories" class="dashboard-info-section">
            <div id="dashboard-list-label" class="dashboard-info-label">
                Subcategories:
            </div>
            <div class="dashboard-list">
                <div class="dashboard-list-value" *ngFor="let sc of data.subcategories">
                    <div class="dashboard-list-item">{{sc.name}}</div>
                </div>
            </div>
        </div>
    </div>
    <div mat-dialog-actions id="dashboard-info-actions">
        <button mat-button (click)="onNoClick()" color="accent">Close</button>
        <button mat-button (click)="edit()" color="primary" cdkFocusInitial>Edit</button>
    </div>
</div>`