.category-table {  
  width: 80%;

  //TODO: No clue why it defaults to black without this while product-table doesn't
  background-color: white;
}

.mat-column-name {
  width: 55%;
}

.mat-column-price {
  width: 15%;
}

.mat-column-actions {
  width: 40%;
  border-left: 1px solid lightgray;
}

.filter-search {
  margin-left: auto;
  width: 40%;
  font-size: 1rem;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-button { 
  margin-left: 3vw;
  margin-right: 15vw;
  z-index: 0;
}