.about-text {
    
    margin: 4vh 5vw 4vh 5vw;
    padding: 2vh 1vw 2vh 1vw;

    font-size: var(--responsive-font-size-tiny);
    color: var(--theme-dark-color);
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--banner-title-color);
}