<div id="product-info-container">
    <h1 mat-dialog-title id="product-info-title">{{data.name}}</h1>
    <div mat-dialog-content>
        <div id="product-info-id" class="product-info-section">
            <div id="product-id-label" class="product-info-label">
                ID:
            </div>
            <div id="product-id-value" class="product-info-value">
                {{data.id}}
            </div>
        </div>
        <div id="product-info-price" class="product-info-section">
            <div id="product-price-label" class="product-info-label">
                Price:
            </div>
            <div id="product-price-value" class="product-info-value">
                {{data.price}}
            </div>
        </div>
        <div id="product-info-description" class="product-info-section">
            <div id="product-description-label" class="product-info-label">
                Description:
            </div>
            <div id="product-description-value" class="product-info-value">
                {{data.description}}
            </div>
        </div>
        <div id="product-allergenics-label" class="product-info-label">
            Allergenics:
        </div>
        <div class="allergenic-list">
            <div class="product-info-value" *ngFor="let a of data.allergenicList">
                <div class="allergenic-item">{{a}}</div>
            </div>
        </div>
    </div>
    <div mat-dialog-actions id="product-info-actions">
        <button mat-button (click)="onNoClick()" color="accent">Close</button>
        <button mat-button (click)="editProduct()" color="primary" cdkFocusInitial>Edit</button>
    </div>
</div>