<div class="dialog-container" [formGroup]="entityForm">
    <h1>{{title}}</h1>
    <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name"><!-- [placeholder]="!data? 'New Item' : data.name">-->
        <mat-error *ngIf="name.invalid">{{getNameErrorMessage()}}</mat-error>
    </mat-form-field>

    <div *ngIf="isType('Product')">
        <app-new-product-sub-view [allergenicFormControl]="allergenicFormControl" [entityForm]="entityForm"></app-new-product-sub-view>
    </div>
    <div *ngIf="isType('Subcategory')">
        <app-new-subcategory-sub-view [categoryFormControl]="categoryFormControl" [productFormControl]="productFormControl" [entityForm]="entityForm"></app-new-subcategory-sub-view>
    </div>

    <div mat-dialog-actions>
        <button mat-button (click)="close()" color="accent">Close</button>
        <button mat-button (click)="saveEntity()" [disabled]="!entityForm.valid" [mat-dialog-close]="data" color="primary">Add Item</button>
    </div>
</div>