#category-table {
    width: 100%;

    background-color: floralwhite;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.category-cell {

    padding-left: 5vw;

    text-align: left;
    font-size: var(--responsive-font-size-small);
    font-weight: bold;
    text-shadow: 3px 4px 7px rgba(81,67,21,0.8);
    

    color: var(--theme-dark-color);
    font-family: Arial, Helvetica, sans-serif;

    border-bottom: 0.5vmin solid rgba(0, 0, 0, 0.2);
}

.category-table-row {
    height: 7vh;
}


.category-table-row:nth-child(even) {
    background-color: lemonchiffon;
}

.category-table-row:hover {background-color: whitesmoke;}