#header {
    height: 20vh;
    min-height: 20vh;
    max-height: 20vh;
    width: 100%;
}

#title-container {
    height: inherit;
    min-height: inherit;
    max-height: inherit;
    width: inherit;

    position: relative;
}

#top-banner {
    width: inherit;
    height: inherit;

    object-fit: cover;
    object-position: 0% 49%;
}

#banner-text {
    width: auto;

    padding: 0.5vh 2vw;

    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: block;

    font-size: 5vh;

    color: var(--banner-title-color);
    background-color: rgba(3, 3, 3, 0.7);
    text-shadow: 0.117vw 0.117vw 0.195vw black;

}