#product-table {
    width: 100%;

    padding: 0;

    /* background-color: floralwhite; */
    background-color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.product-cell {
    font-size: var(--responsive-font-size-small);
    font-weight: bold;    
    cursor: pointer;


    color: var(--theme-dark-color);
    /* color: #755139FF; */
    font-family: Arial, Helvetica, sans-serif;
}

.product-name-cell {
    padding-left: 10vw;

    text-align: left;

}

.product-name {
    text-shadow: var(--text-shadow-default);
}

.product-description {
    padding: 1vh 5vw 1vh 2vw;
    font-size: var(--responsive-font-size-tiny);
    font-weight: normal;
    /* font-style: italic; */
}

.product-price-cell {
    text-align: left;
    padding: 1vh;
}

.product-table-row {
    height: 7vh;
}


.product-table-row:nth-child(even) {
    /* color: #F2EDD7FF; */
    /* background-color: lemonchiffon; */
    background-color: #F1F4FFFF;
}

.product-table-row:nth-child(odd) {
    /* color: #755139FF; */
    background-color: #A2A2A1FF;
}

.product-table-row:hover {
    color: black;
    background-color: #964F4CFF;
}