#product-table {
    width: 100%;

    padding: 0;
}

.product-cell {
    font-size: var(--responsive-font-size-tiny);
    font-weight: bold;    
    color: var(--theme-dark-color);
    font-family: Arial, Helvetica, sans-serif;
    
    cursor: pointer;
}

.product-name-cell {
    margin-right: 0;

    padding-left: 10vw;

    text-align: left;
}

.product-name {
    padding-top: 1vh;
    padding-right: 2vw;
    text-shadow: var(--text-shadow-default);
}

.product-description {
    padding: 1vh 2vw 1vh 2vw;
    font-size: var(--responsive-font-size-tiny);
    font-weight: normal;
}
.product-allergenics-cell {
    width: 11vw;

    margin-left: 0;
}

.product-allergenics-container {
    width: 100%;
}

.allergenic-img {
    width: 3.5vw;
    max-width: 3.5vw;
    height: 3.5vh;
    max-height: 3.5vh;

    object-fit: contain;
}

.product-price-cell {
    width: 8vw;
    max-width: 8vw;

    padding: 1vh;

    text-align: left;
}

.product-table-row {
    height: 7vh;
}