<div class="home-container">
    <div class="home-page-welcome">
      <div class="content-header">
        <h1 class="content-title welcome-title">Een zee van ....</h1>
      </div>
      <div class="welcome-text-container">
        <div class="welcome-text" [innerText]="homeText"></div>
      </div>
    </div>

    <div id="suggestie-container">
      <div class="content-header">
        <h1 class="content-title suggestion-title">Suggesties</h1>
      </div>
        <div class="gallery">
          <ng-container *ngFor="let suggestion of suggestions">
            <div class="gallery-item-container">
              <div class="gallery-item">
                <img src={{suggestion.url}} alt={{suggestion.alt}}>
                <div class="description">{{suggestion.description}}</div>
              </div>
            </div>
          </ng-container>
      </div>
</div>