<div class="edit-container" [formGroup]="entityForm">
    <h1>Edit</h1>
    <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" placeholder="{{data.name}}">
    </mat-form-field>

    <div *ngIf="isType('Product')">
        <app-sub-edit-product-view [allergenicFormControl]="allergenicFormControl" [entityForm]="entityForm"></app-sub-edit-product-view >
    </div>
    
    <div mat-dialog-actions>
        <button mat-button (click)="close()" color="accent">Close</button>
        <button mat-button (click)="saveChanges()" [mat-dialog-close]="data" color="primary" cdkFocusInitial>Edit</button>
    </div>
</div>